[*.cs]
# global preferences
csharp_style_var_when_type_is_apparent = false:warning
indent_size = tab
tab_width = 4
csharp_style_var_elsewhere = false:warning
csharp_new_line_before_open_brace = all
csharp_new_line_before_catch = true
csharp_new_line_before_else = true

dotnet_style_qualification_for_field = true:silent
dotnet_style_qualification_for_property = true:silent
dotnet_style_qualification_for_method = true:silent
dotnet_style_qualification_for_event = true:silent