name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test Report
        run: dotnet test $SolutionFile --no-build /p:CollectCoverage=true /p:CoverletOutput=../CodeCoverage/ /p:CoverletOutputFormat=opencover
      - name: Test Coverage Badge
        uses: simon-k/dotnet-code-coverage-badge@v1.0.0
        id: create_coverage_badge
        with:
          label: coverage
          color: brightgreen
          path: CodeCoverage/coverage.opencover.xml
          gist-filename: code-coverage.json
          gist-id: 294599cbadb71f3ed834d6904a7c87fd
          gist-auth-token: ${{ secrets.GIST_AUTH_TOKEN }}
      - name: Print code coverage
        run: echo "Code coverage percentage ${{steps.create_coverage_badge.outputs.percentage}}%"
      - name: Print badge data
        run: echo "Badge data ${{steps.test_step.outputs.badge}}"
    env:
      SolutionFile: ValorDolarHoy.sln